h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.chat-box {
  padding: 6px 15px;
  margin-bottom: 6px;
}

.chat-box {
  display: inline-flex;
  flex-direction:column;
  justify-content: space-around;
}

.chat-message {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  padding: 10px;
  margin-bottom: 2px;
}
